@import url(../App.css);

/* button */
.btn {
  padding: 10px 1.5rem;
  border-radius: .25rem;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--primary);
  color: var(--dark);
  border: 1px solid var(--primary);
}
.btn--outline {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  transition: all .3s ease-out 0s;
}
.btn--medium {
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
}
.btn--large {
  font-size: 1.5rem;
}
.btn--medium:hover, .btn--large:hover {
  background: var(--primary);
  color: var(--dark);
  transition: all .3s ease-out 0s;
}