@import url(../App.css);

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem;
  background: var(--dark);
}
.footer-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: var(--primary);
}
.footer-sub-heading {
  margin-bottom: 24px;
  font-size: 1.8rem;
}
.footer-sub-text {
  margin-bottom: 24px;
  font-size: 1.4rem;
}
.footer-input {
  margin-right: 10px;
  padding: .5rem 20px;
  border-radius: .25rem;
  background: var(--primary);
  font-size: 1.4rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
.footer-links-wrapper {
  display: flex;
}
.footer-link-items {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  text-align: left;
}
.footer-link-items h3 {
  margin-bottom: 1rem;
  color: var(--primary);
}
.footer-link-items a {
  opacity: 0.6;
  margin-bottom: 0.5rem;
  color: var(--primary);
  transition: all .3s ease;
}
.footer-link-items a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* sns section */
.sns {
  max-width: 1000px;
  width: 100%;
}
.sns-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 40px auto 0;
}
.sns-icon-link {
  color: var(--primary);
  font-size: 2rem;
}
.sns-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.sns-logo {
  display: flex;
  align-items: center;
  color: var(--primary);
  justify-self: start;
  margin-left: 20px;
  font-size: 2rem;
}
.website-rights {
  color: var(--primary);
  margin-bottom: 1rem;
}

/* media query */
@media screen and (max-width: 960px) {
  .footer-input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .btn {
    width: 100%;
  }
  .footer-links-wrapper {
    flex-direction: column;
  }
  .sns-wrap {
    flex-direction: column;
  }
}